<div class="modal-header justify-content-between row pt-0">

    <div class="col-12" (click)="closeModal()" style="cursor: pointer;display: flex;justify-content: right;font-size: 2em;">
        <span aria-hidden="true">×</span>
    </div>
    <h3 *ngIf="!isEdit" class="modal-tilte align-self-center">Nova Marcação</h3>
    <h3 *ngIf="isEdit" class="modal-tilte align-self-center">Editando Marcação</h3>
</div>
<div class="modal-body " style="background-color:rgb(218, 218, 218)">
    <p *ngIf="message" class="h5 btn-danger p-3 text-center">{{message}}</p>
    <form [formGroup]="formAgenda" class=" form-row row">
        <div class="col-6 pb-3">
            <label class="h4 text-bold">User</label>
            <p class="form-control">{{userSelect.Nome}}</p>
        </div>
        <div class="col-6 pb-3">
            <label class="h4 text-bold">Cliente</label>
            <select class="p-2 form-control" formControlName="cliente" style="border-radius: 5px;">
                <option *ngFor="let cliente of clientes" value="{{cliente.id}}">{{cliente.Nome}}</option>
            </select>
        </div>
        <div class="col-8 pb-3">
            <label class="h4 text-bold">Serviços</label>
            <ng-select class="form-control" (ngModelChange)=" changeValue($event) " formControlName="servicos" multiple="true ">
                <ng-option *ngFor="let servico of servicos " [value]="servico.id ">{{servico.Nome}}</ng-option>
            </ng-select>
        </div>
        <div class="col-4 pb-3 ">
            <label class="h4 text-bold ">Valor (R$)</label>
            <input formControlName="valor" class="form-control " type="number " />
        </div>
        <div class="col-4 pb-3">
            <label class="h4 text-bold">Date</label>
            <input class="form-control" formControlName="date" min="{{dataAtual}}" type="date" />
        </div>
        <div class="col-4 pb-3">
            <label class="h4 text-bold">Hora inicial</label>
            <input (change)="changeHourInit($event.target.value)" min="09:00" max="19:00" class="form-control" formControlName="hora_inicio" type="time" />
        </div>
        <div class="col-4 pb-3">
            <label class="h4 text-bold">Hora final</label>
            <input (change)="changeHourFim($event.target.value)" class="form-control" formControlName="hora_fim" min="09:00" type="time" />
        </div>
        <div class="col-4 pb-3 ">
            <label class=" text-bold pr-3 mr-4">Tem pausa</label>
            <input class="p-2" style='margin-left: 0.2em;' (change)="changeCheckbox($event.currentTarget.checked)" formControlName="hasPause" type="checkbox" />
        </div>
        <div class="col-12 row">
            <div class="col-12 row" *ngFor="let i of pauses">
                <label class="h4 text-bold mt-2">Pausa {{i}}</label>

                <div class="col-5">
                    <label class="text-bold ">Hora inicial da pausa</label>
                    <input formControlName="hora_ini_pausa_{{i}}" class="form-control " type="time" />
                </div>
                <div class="col-5">
                    <label class="text-bold ">Hora final da pausa</label>
                    <input formControlName="hora_fim_pausa_{{i}}" class="form-control " type="time" />
                </div>
                <div class="col-2">
                    <button *ngIf="i==pauses.length && i>1" (click)="removePausa(i)" class="btn btn-danger fa fa-minus mt-4  p-2 px-3" style="margin-right:0.2em"></button>
                    <button *ngIf="i==pauses.length && 3>i" (click)="addPausa(i)" class="btn btn-primary fa fa-plus mt-4 p-2 px-3"></button>
                </div>

            </div>
        </div>
        <div class="container col-12 pb-4" style="display: flex;justify-content: center;">
            <button *ngIf="!isEdit" class="btn btn-primary  mt-3 px-5 mb-0" (click)="createMarcacao()" [ngClass]="{'disabled': !formAgenda.valid}" style="font-size:30px;" type="submit">Criar Marcação</button>
            <button *ngIf="isEdit" class="btn btn-primary  mt-3 px-5 mb-0" (click)="editMarcacao()" [ngClass]="{'disabled': !formAgenda.valid}" style="font-size:30px;" type="submit">Editar Marcação</button>
        </div>
    </form>
</div>