<div class="container">
    <div class="card bg-gray w-50 mt-3 shadow">
        <div class="card-header bg-primary px-0">
            <div class="row">
                <div class="container col-12 px-0">
                    <img class="logo" src="assets/img/logo.jpg" />
                </div>

                <h2 class="col-12 text-center text-white my-3 " style="font-family: 'Playfair Display', serif">
                    Agenda Espaço Lauar Coiffeur
                </h2>
            </div>
        </div>
        <div class="card-body" style="background-color:rgb(231, 231, 231)">
            <form class=" form-row px-5 pt-3 pb-2">
                <div class="col-12 pb-4">
                    <label class="h4 text-bold">Email</label>
                    <input class="form-control" type="email" />
                </div>
                <div class="col-12 pb-4">
                    <label class="h4 text-bold">Password</label>
                    <input class=" form-control" type="password" />
                </div>
                <div class="container col-12 pb-4">
                    <button class="btn btn-primary mt-3 px-5 mb-0" style="font-size:30px;" type="submit">Login</button>
                </div>
            </form>
        </div>
    </div>
</div>