<main-header></main-header>
<h2 class="mt-3 mb-2 mx-4 title-page">Usuários</h2>
<hr class="mt-2" style="border: 1px solid #444444; width:100%; " />
<div class="row px-2 mt-3 " [ngClass]="{'loading': isLoading}">
    <div class="col-12 mb-2" id="addUser">
        <button (click)="showCreateModal(null)" class="btn btn-dark">
           Adicionar usuário <span class="ml-2 fa fa-plus"></span>
        </button>
    </div>
    <div class="col-12" *ngIf="users.length>0">
        <div class="list-group">
            <div class="list-group-item first-item text-bold text-white bg-primary">
                <div class="row">
                    <div class="col-3">
                        <div>Nome</div>
                    </div>
                    <div class="col-2">
                        <div>Email</div>
                    </div>
                    <div class="col-2">
                        <div>CPF</div>
                    </div>
                    <div class="col-2">
                        <div>Telefone</div>
                    </div>
                    <div class="col-2">
                        <div>Tipo</div>
                    </div>
                    <div class="col-1">
                        <div>Opções</div>
                    </div>
                </div>
            </div>
            <div class="list-group-item list-group-item-action border-black" *ngFor="let user of users">
                <div class="row">
                    <div class="col-3">
                        <p class="">{{ user.Nome }}</p>
                    </div>
                    <div class="col-2">
                        <p class="">{{ user.Email}}</p>
                    </div>
                    <div class="col-2">
                        <p class="">{{ user.CPF}}</p>
                    </div>
                    <div class="col-2">
                        <p class="">{{ user.Telefone }}</p>
                    </div>
                    <div class="col-2">
                        <p class="">{{findUserTipo(user.id_tipo)}}</p>
                    </div>
                    <div class="col-1">
                        <button (click)="showCreateModal(user.id)" class="btn btn-dark fa fa-pencil " style="border-radius: 0;"></button>
                        <button (click)="deleteUser(user)" class="btn btn-danger fa fa-trash " style="border-radius: 0; margin-left: .4em;"></button>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" bsModal #userCreate="bs-modal" tabindex="-1" role="dialog" aria-labelledby="userCreate" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <user-create #userCreateComponent aria-labelledby="userCreateComponent" [userToEdit]="userToEdit" [isEdit]="isEdit" [userTipos]="userTipos" (onCreateUser)="createUser($event)" (onEditUser)="editUser($event)" (onCloseModal)="userCreateModal.hide()"></user-create>
            </div>
        </div>
    </div>
</div>