#addUser {
    display: flex;
    justify-content: right;
}

.content-right {
    display: flex;
    justify-content: right;
}

.scrolling-wrapper {
    overflow-x: auto;
}

.scrolling-wrappeer-y {
    overflow-y: auto;
    height: 470px;
}

.scrolling-wrappeer-y::-webkit-scrollbar {
    display: none;
}

.scrolling-wrappeer-y {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}

.livre {
    color: black;
    background-color: rgb(1, 255, 99);
}

.pausa {
    color: rgb(2, 2, 2);
    background-color: rgb(1, 255, 255);
}

.servico {
    color: white;
    background-color: rgb(1, 26, 255);
}