#addUser {
    display: flex;
    justify-content: right;
}

.scrolling-wrapper {
    overflow-x: auto;
}

.livre {
    color: white;
    background-color: rgb(1, 255, 99);
}

.pausa {
    color: rgb(2, 2, 2);
    background-color: rgb(1, 255, 255);
}

.servico {
    color: white;
    background-color: rgb(1, 26, 255);
}