@import '~bootstrap/dist/css/bootstrap.min.css';
@import'font-awesome-4.7.0/css/font-awesome.min.css';
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');
@import "~@ng-select/ng-select/themes/default.theme.css";
.loading {
    opacity: 0.5;
}

input.ng-invalid {
    border: 1px solid red;
}

select.ng-invalid {
    border: 1px solid red;
}

ng-select.ng-invalid {
    border: 1px solid red;
}

.title-page {
    color: rgb(18, 18, 34);
}

.text-negrito {
    font-weight: 600;
}